<a href="https://colab.research.google.com/github/roitraining/techtrek-python/blob/main/Module02-Python_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Collections

* Here is a <font color='blue' face="Courier New" size="+1">list</font> of numbers.
  * We can add and change elements as well as extract elements individually or in <font color='blue'>slices</font>.
  * Slices are either a single element or <font color='blue'>range</font> of elements in square brackets <font color='blue' face="Courier New" size="+1">[ ]</font> after the variable name.

In [ ]:
numbers = [4, 2, 2, 10, 12, 3, 7, 12]
print("the entire list, note the square brackets in the output")
print(numbers)

print(f"\nthe first element, 0 is the first element")
print(numbers[0])

print(f"\nthe third element, because it starts with 0")
print(numbers[2])

print(f"\nthe range of elements starting with element 2 (the third element) to the end, note the square brackets")
print(numbers[2:])

print(f"\nthe range from the start (element zero) up to but NOT including element 2")
print(numbers[:2])

print(f"\nthe range starting at element two up to but NOT including the second from the end (negative 2)")
print(numbers[2:-2])

* A <font color='blue' face="Courier New" size="+1">list</font> is also mutable (changeable).
  * We can change, add, remove, and sort elements.

In [ ]:
numbers = [4, 2, 2, 10, 12, 3, 7, 12]
print("change the first element to a value of 5")
numbers[0] = 5
print(numbers)

print(f"\nremove the first element with a value of 2")
numbers.remove(2)
print(numbers)

print(f"\nadd a value of twenty to the end of the list")
numbers.append(20)
print(numbers)

print(f"\ndelete element 1 from the list")
del numbers[1]
print(numbers)

print(f"\nprint a list of the numbers sorted, but don't change the list itself")
print('sorted', sorted(numbers))
print('original', numbers)

print(f"\nthis will mutate or change the list order")
numbers.sort()
print(numbers)

* A <font color='blue' face="Courier New" size="+1">list</font> can contain any kind of data.
  * If all the elements are the same data type, we call it <font color='blue'>homogeneous</font>.
  * If they are different, we call it <font color='blue'>heterogeneous</font>.

In [ ]:
# homogeneous list of strings
names = ['Sri', 'Alex', 'Martha']
print(names)

# heterogenous list of different types
costs = [10, 12.3, 10.02, 'ten']
print(costs)

## Try it now: ##
#### 1.	Create a simple list of five strings.
#### 2.	Print the first and last element.
#### 3.	Change the second element to something different.
#### 4. Sort the list and display it.
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
1.	Make a list of colors or names. Use <font color='blue' face="Courier New" size="+1">[ ]</font> and a quoted list of values separated by commas.
<br>
2.	Use <font color='blue' face="Courier New" size="+1">[0]</font> for the first element and <font color='blue' face="Courier New" size="+1">[-1]</font> for the last element.
<br>
3.	Use <font color='blue' face="Courier New" size="+1">[1]</font> for the second element and an <font color='blue' face="Courier New" size="+1">=</font> to change the value.
<br>
4.	Use the <font color='blue' face="Courier New" size="+1">sort</font> method not the <font color='blue' face="Courier New" size="+1">sorted</font> function.
<br>
<br>
</p>
</details>

<details><summary>Click for <b>code</b></summary>
<p>

```python
colors = ['red', 'blue', 'green', 'yellow', 'white']
print(colors[0], colors[-1])
colors[1] = 'black'
colors.sort()
print(colors)
```
</p>
</details>

* Similar to lists are <font color='blue' face="Courier New" size="+1">sets</font> and <font color='blue' face="Courier New" size="+1">tuples</font>.
  * A <font color='blue' face="Courier New" size="+1">set</font> makes sure all the elements in the collection are unique.
    * We use curly braces <font color='blue' face="Courier New" size="+1">{ }</font> to surround the elements.
  * A <font color='blue' face="Courier New" size="+1">tuple</font> is just like a <font color='blue' face="Courier New" size="+1">list</font> but is not mutable, so once we assign values to it, we can't change them.
    * We use parantheses <font color='blue' face="Courier New" size="+1">( )</font> to surround the elements.
    * Immutablity is slightly more efficient in some cases.

In [ ]:
set1 = {1, 2, 3, 4, 4, 5, 6, 3}
print(set1)

tuple1 = ('a', 1, 'b')
print(tuple1[0], tuple1[-1], tuple1[0:2])

# but you cannot change the tuple, so the following code would fail
# tuple1[0] = 'z'

* A dictionary or <font color='blue' face="Courier New" size="+1">dict</font> is another kind of collection that takes <font color='blue'>key/value pairs</font>, sometimes just called <font color='blue'>KV</font> for short.
* It's sort of like field names and values.
  * Often used as a way to represent a record from something list a SQL table.
* It also uses curly braces <font color='blue' face="Courier New" size="+1">{ }</font> like a <font color='blue' face="Courier New" size="+1">set</font> does, but it uses a colon <font color='blue' face="Courier New" size="+1">:</font> to separate the key and value.
* They are mutable like <font color='blue' face="Courier New" size="+1">list</font> and <font color='blue' face="Courier New" size="+1">set</font> but instead of using a position to access a single element, we use the key to fetch a specific value.
  * Keys are usually strings but don't have to be.

In [ ]:
record = {'firstname': 'Adam', 'lastname': 'Smith', 'age': 50}
print(record)

print(f"\nthe value for the element names firstname")
print(record['firstname'])

print(f"\nchange the elemennt for the key lastname to a new value")
record['lastname'] = 'Jones'

print(f"\nadd a new key and value")
record['gender'] = 'M'
print(record)

print(f"\nprint a list of just the keys")
print(record.keys())

print(f"\na list of just the values")
print(record.values())

print(f"\nremove a key from the dictionary")
del record['gender']
print(record)

* Even strings are similar to lists and we can treat each character of the string the same way we do each element of a collection.
* That means we can get individual elements or slices with square bracket syntax just like lists.

In [ ]:
name = 'Han Solo'
print(name[0])
print(name[0:3])

* Generally, we use collections in combination with a <font color='blue' face="Courier New" size="+1">for</font> loop to do something to each element of the collection.

In [ ]:
names = ['Luke', 'Leia', 'Han', 'Ben']
for name in names:
  print(name.upper())

* There are lots of functions that return lists and other collections.
* For example, last week we looked at <font color='blue' face="Courier New" size="+1">os.listdir()</font>.

In [ ]:
import os
print(os.listdir('sample_data'))

## Challenge for later: ##
### Collections in Python are very powerful and we could spend days going through all the possibilities.
### Some additional topics to discover on your own would be:
* <a href="https://www.geeksforgeeks.org/python-map-function">map</a>
* <a href="https://www.learnpython.org/en/List_Comprehensions">list comprensions</a>

# Complex collections
* Combining all these types of collections is possible and can quickly get pretty tricky.
* Below is a list of dictionaries which looks a lot like JSON.
* It is also similar to a table of data, but it's harder to visualize and process.

In [ ]:
data = [{'team': 'Leicester', 'player': 'Vardy', 'goals': 24}
        ,{'team': 'Manchester City', 'player': 'Aguero', 'goals': 22}
        ,{'team': 'Arsenal', 'player': 'Sanchez', 'goals': 19}]
print(data)

* There's a more advanced set of modules that come to the rescue.
  * <a href="https://pypi.org/project/numpy/">numpy</a> is a more efficient way to store lists of numbers and offers many built-in math functions.
  * <a href="https://pypi.org/project/pandas/">pandas</a> is a package that creates a <font color='blue' face="Courier New" size="+1">dataframe</font> that is similar to a SQL table but in memory.

In [ ]:
! pip install numpy
! pip install pandas

* We can take the complex <font color='blue' face="Courier New" size="+1">list</font> of <font color='blue'>dictionaries</font> and turn it into a simpler <font color='blue'>pandas</font> <font color='blue' face="Courier New" size="+1">dataframe</font>.

In [ ]:
from pandas import DataFrame
data = [{'team': 'Leicester', 'player': 'Vardy', 'goals': 24}
        ,{'team': 'Manchester City', 'player': 'Aguero', 'goals': 22}
        ,{'team': 'Arsenal', 'player': 'Sanchez', 'goals': 19}]
football = DataFrame(data)
print(football)

* When working in Jupyter, we can use the <font color='blue' face="Courier New" size="+1">display</font> function instead of <font color='blue' face="Courier New" size="+1">print</font> for an easier to read output.

In [ ]:
display(football)

* We can use the <font color='blue' face="Courier New" size="+1">loc</font> and <font color='blue' face="Courier New" size="+1">iloc</font> methods to slice the dataframe just like a collection.

In [ ]:
print(f"\ndisplay the first row")
display(football.loc[0])

print(f"\ndisplay the first row")
display(football.iloc[0])

print(f"\ndisplay the slice of the first and second row (rows 0 and up to but not including 2)")
display(football.iloc[0:2])

print(f"\ndisplay from the second to last row to the end")
display(football.iloc[-2:])

print(f"\ndisplay from the second to last row to the end, but only columns 0 and up to but not including 2")
display(football.iloc[-2:, 0:2])

print(f"\ndisplay all rows, but only columns 0 and up to but not including 2")
display(football.iloc[:, 0:2])

print(f"\ndisplay all rows, but only columns 0 and 2, note the square brackets to supply a list of values not a range")
display(football.iloc[:, [0, 2]])

* Or we can give it indexes similar to a primary key in a SQL table.
* Then iloc means use the numerical position, but loc means look up the row by its index, so it's similar to how a dictionary works.

In [ ]:
football2 = football.set_index('team')
display(football2)

In [ ]:
print('get the row for index Arsenal, all columns')
display(football2.loc['Arsenal'])
print()
print(f'\nget the first row, all columns')
display(football.iloc[0])
print()
print(f'\nget the row for arsenal and just the goals column')
display(football2.loc['Arsenal', 'goals'])
print()
print(f'\nget the row for arsenal and just the goals and player columns')
display(football2.loc['Arsenal', ['goals', 'player']])
print()
print(f'\nget the first and second rows and just the goals and player columns')
display(football2.iloc[0:2].loc[:, ['goals', 'player']])
print()

* We can also do operations like <font color='blue'>filter</font> and <font color='blue'>aggregations</font>.

In [ ]:
filtered_football = football[football['goals'] > 20]
display(filtered_football)

average_goals = football['goals'].mean()
print(average_goals)

* For the most part, we use pandas to read data from common file formats such as CSV or JSON.
* Once it is read into memory as a DataFrame, we can manipulate it to <font color='blue'>filter</font>, <font color='blue'>sort</font>, <font color='blue'>aggregate</font>, and other common operations.
* Then, we can either save it to a new file or display it as a chart.
* This is what makes Python so popular in the Data Science, Data Engineering, Machine Learning, and Artificial Intelligence fields.

In [ ]:
import pandas as pd
filename = 'https://raw.githubusercontent.com/roitraining/techtrek-python/main/products.csv?token=GHSAT0AAAAAACQYWYY6JKLETEXO3XYYJRAAZRJB4JQ'
df = pd.read_csv(filename)
display(df)

* Let's do an example data manipulation on this.
  * We will filter it to only get the fields for ProductID, ProductName, UnitPrice, and CategoryID that are not Discontinued.
  * Then write that out to a new file in JSON format.
  * Then, we will take that and calculate the CategoryID average price sorted in descending order.

In [ ]:
df2 = df[df['Discontinued'] == 0].loc[:, ['ProductID', 'ProductName', 'UnitPrice', 'CategoryID']]
display(df2)
df2.to_json('./products.json')

* Read the JSON file just to show how it would work.

In [ ]:
import os
os.listdir()
df3 = pd.read_json('products.json')
display(df3)

* Here, we can apply a <font color='blue' face="Courier New" size="+1">groupby</font> and a <font color='blue' face="Courier New" size="+1">mean</font>.

In [ ]:
average_price_by_category = df3.groupby('CategoryID')['UnitPrice'].mean()

# Print the results showing average UnitPrice by CategoryID
print(average_price_by_category)

df4 = DataFrame(average_price_by_category)
print(df4)

* Finally, turn that into a chart with <font color='blue' face="Courier New" size="+1">matplotlib</font>.

In [ ]:
import matplotlib.pyplot as plt

# Get pie chart slice labels
pie_chart_slice_labels = df4.index.to_numpy()  # Assuming the index represents categories

# Get pie chart slice values
pie_chart_slice_values = df4['UnitPrice'].to_numpy()

# Create a pie chart of the UnitPrice data
plt.pie(pie_chart_slice_values, labels=pie_chart_slice_labels, autopct="%1.1f%%")
plt.title("Pie Chart of Unit Price Distribution")
plt.show()

* Here's a bar chart instead.

In [ ]:
# Get pie chart slice labels
category_labels = df4.index.to_numpy()  # Assuming the index represents categories

# Get pie chart slice values
category_values = df4['UnitPrice'].to_numpy()

plt.barh(category_labels, category_values)
plt.xlabel("Unit Price")
plt.ylabel("Category ID")
plt.title("Horizontal Bar Chart of Unit Price Distribution")
plt.gca().invert_yaxis()  # Invert y-axis to display highest value at the top
plt.tight_layout()

## Challenge for later: ##

### The aim of this challenge is to gain some experience of working with pandas DataFrame data structure.

#### 1.	Try to encode the following data into a DataFrame object:

| id | name | age |
| -- | ---- | --- |
| 1 | Jack | 30 |
| 2 | Mary| 40 |
| 3 | Mike | 35 |
| 4 | Susan | 25 |

#### 2. Find the min, max, and average age from the dataset.
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
First, create either a list of dictionaries or dictionary of lists to encode the data.
<br>
You want id to be the index column so exclude that from your dictionary and supply it separately.<br>
<br>
<br>
</p>
</details>


<details><summary>Click for <b>code</b></summary>
<p>

```python
import pandas as pd
from pandas import DataFrame

# Dictionary of lists
d = {'name':['Jack', 'Mary', 'Mike', 'Susan'],
     'age' : [30, 40, 35, 25]}

df = DataFrame(d, index = [1, 2, 3, 4])
display(df)

# List of Dictionaries
d = [{'name' : 'Jack', 'age' : 30}
    ,{'name' : 'Mary', 'age' : 40}
    ,{'name' : 'Mike', 'age' : 35}
    ,{'name' : 'Susan', 'age' : 25}
    ]

df = DataFrame(d, index = [1, 2, 3, 4])
display(df)

# Or if you have one big dictionary, you can use list comprehension magic to pull out the id column

d = [{'id' : 1, 'name' : 'Jack', 'age' : 30}
    ,{'id' : 2, 'name' : 'Mary', 'age' : 40}
    ,{'id' : 3, 'name' : 'Mike', 'age' : 35}
    ,{'id' : 4, 'name' : 'Susan', 'age' : 25}
    ]

df = DataFrame(d, index = (x['id'] for x in d), columns = ['name', 'age'])
display(df)

min_age = df['age'].min()
max_age = df['age'].max()
avg_age = df['age'].mean()

# Print the results
print("Minimum age:", min_age)
print("Maximum age:", max_age)
print("Average age:", avg_age.round(2))  # Round average to two decimal places
```
</p>
</details>

In [ ]:
import pandas as pd
from pandas import DataFrame

# Dictionary of lists
d = {'name':['Jack', 'Mary', 'Mike', 'Susan'],
     'age' : [30, 40, 35, 25]}

df = DataFrame(d, index = [1, 2, 3, 4])
display(df)

# List of Dictionaries
d = [{'name' : 'Jack', 'age' : 30}
    ,{'name' : 'Mary', 'age' : 40}
    ,{'name' : 'Mike', 'age' : 35}
    ,{'name' : 'Susan', 'age' : 25}
    ]

df = DataFrame(d, index = [1, 2, 3, 4])
display(df)

# Or if you have one big dictionary, you can use list comprehension magic to pull out the id column

d = [{'id' : 1, 'name' : 'Jack', 'age' : 30}
    ,{'id' : 2, 'name' : 'Mary', 'age' : 40}
    ,{'id' : 3, 'name' : 'Mike', 'age' : 35}
    ,{'id' : 4, 'name' : 'Susan', 'age' : 25}
    ]

df = DataFrame(d, index = (x['id'] for x in d), columns = ['name', 'age'])
display(df)


min_age = df['age'].min()
max_age = df['age'].max()
avg_age = df['age'].mean()

# Print the results
print("Minimum age:", min_age)
print("Maximum age:", max_age)
print("Average age:", avg_age.round(2))  # Round average to two decimal places